.viewUserContainer {
  position: fixed;
  top: 0;
  transition: transform 0.2s ease-in;
  width: 100%;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); }
  .viewUserContainer .viewUserWrapper {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
    width: 300px;
    height: 350px;
    left: 30%;
    z-index: 2;
    padding: 30px;
    margin-top: 200px; }
